.move-free {
  @include page-grid;

  @include on-tablet {
    margin-top: 120px;
  }

  &--description {
    margin: 0;
    grid-column: 1 / 4;
    font-size: 23px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 6 / 12;
    }
  }
}

.product {
  &__photo {
    width: 100%;
    margin-bottom: 32px;
    cursor: pointer;
  }

  &__category {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    grid-column: span 4;
  }
}
