.container {
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.header {
  background-image: url("../../images/header-bg-mobile.png");
  background-position: right;
}
@media (min-width: 576px) {
  .header {
    background-image: url("../../images/header-bg-tablet.png");
  }
}
@media (min-width: 1024px) {
  .header {
    background-image: url("../../images/header-bg-desktop.png");
  }
}
.header {
  background-size: cover;
}
.header__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__bottom {
  padding-bottom: 40px;
  text-align: center;
}
.header__title {
  display: inline;
  font-family: Poppins, sans-serif;
  margin: 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

.page {
  font-family: poppins, sans-serif;
  color: #fff;
  scroll-behavior: smooth;
  background: #292929;
}
.page__body {
  margin: 0;
  min-width: 320px;
}

.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) {
  .top-bar {
    padding-block: 36px;
  }
}
.top-bar__icons {
  display: flex;
  gap: 24px;
}
@media (min-width: 576px) {
  .top-bar__icons {
    gap: 32px;
  }
}
.top-bar__logo-link {
  display: flex;
  transition: transform 0.3s;
  transition: transform 0.3s;
}
.top-bar__logo-link:hover {
  transform: scale(1.2);
}
.top-bar__logo {
  height: 38px;
}
@media (min-width: 576px) {
  .top-bar__logo {
    height: 56px;
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s;
}
.icon:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}
.icon--phone {
  background-image: url(../../images/icons/Icon-phone-call-2x.png);
}
.icon--phone:hover {
  transition: 0.3s;
}
.icon--menu {
  background-image: url(../../images/icons/Icon-burger-menu-2x.png);
}
.icon--menu:hover {
  background-image: url(../../images/icons/Icon-burger-menu-hover-2x.png);
  background-repeat: no-repeat;
}
.icon--close {
  background-image: url(../../images/icons/Icon-close-2x.png);
  background-repeat: no-repeat;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}
.icon-wrapper .phone-tooltip {
  position: absolute;
  right: 100%;
  margin-right: 20px;
  top: 50%;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
.icon-wrapper .icon--phone:hover + .phone-tooltip {
  opacity: 1;
}

.menu {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;
}
.menu__top {
  margin-bottom: 32px;
}
@media (min-width: 576px) {
  .menu__top {
    margin-bottom: 0;
  }
}
.menu-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
}
.menu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
.menu__nav {
  margin-bottom: 40px;
}
.menu__phone-number {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  color: #292929;
}
.menu__book-a-test-a-bike {
  display: block;
  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 1px solid #292929;
  text-transform: uppercase;
  text-decoration: none;
  color: #292929;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav__item {
  margin-bottom: 24px;
}

.nav__item:first-child {
  margin-top: 8px;
}

.nav__item:last-child {
  margin-bottom: 40px;
}

.nav__link {
  position: relative;
  font-family: poppins, sans-serif;
  text-decoration: none;
  color: #292929;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 2px;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #292929;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.nav__link:hover::after {
  transform: scale(1);
}

.section-title {
  margin: 0;
  margin-bottom: 48px;
  margin-top: 76px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}
.section-title--details {
  margin-top: 104px;
  margin-bottom: 48px;
}
@media (min-width: 576px) {
  .section-title--details {
    font-size: 48px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .section-title--details {
    font-size: 64px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1024px) {
  .section-title {
    margin-top: 128px;
    font-size: 64px;
  }
  .section-title--compare-bikes {
    margin-bottom: 56px;
  }
  .section-title--details {
    margin-bottom: 48px;
  }
}
.section-title--move-free {
  margin: 0;
  margin-bottom: 32px;
  white-space: nowrap;
  grid-column: 1/3;
}
.section-title--align-left {
  text-align: left;
}
.section-title--mini {
  margin: 0;
  margin-bottom: 8px;
  text-align: left;
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
  line-height: 140%;
}
.section-title--description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.move-free {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 24px;
  margin-top: 48px;
  color: #f8f8fa;
}
@media (min-width: 576px) {
  .move-free {
    --columns: 6;
  }
}
@media (min-width: 1024px) {
  .move-free {
    --columns: 12;
  }
}
@media (min-width: 576px) {
  .move-free {
    margin-top: 120px;
  }
}
.move-free--description {
  margin: 0;
  grid-column: 1/4;
  font-size: 23px;
  font-weight: 500;
  font-style: normal;
}
@media (min-width: 576px) {
  .move-free--description {
    grid-column: 4/7;
  }
}
@media (min-width: 1024px) {
  .move-free--description {
    grid-column: 6/12;
  }
}

.product__photo {
  width: 100%;
}
.product__category {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.recommended__products {
  row-gap: 48px;
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 24px;
  margin-top: 48px;
  color: #f8f8fa;
}
@media (min-width: 576px) {
  .recommended__products {
    --columns: 6;
  }
}
@media (min-width: 1024px) {
  .recommended__products {
    --columns: 12;
  }
}
.recommended__products {
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .recommended__products {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .recommended__products {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}
.recommended__product {
  transition: transform 0.3s;
}
.recommended__product:hover {
  transform: scale(1.1);
}
.recommended__product {
  grid-column: 1/-1;
}
@media (min-width: 576px) {
  .recommended__product {
    grid-column: 2/-2;
  }
}
@media (min-width: 1024px) {
  .recommended__product {
    grid-column: span 4;
  }
}

.contact-us {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 24px;
  margin-top: 48px;
  color: #f8f8fa;
}
@media (min-width: 576px) {
  .contact-us {
    --columns: 6;
  }
}
@media (min-width: 1024px) {
  .contact-us {
    --columns: 12;
  }
}
.contact-us {
  margin-bottom: 120px;
}
@media (min-width: 576px) {
  .contact-us {
    margin-bottom: 102px;
  }
}
@media (min-width: 1024px) {
  .contact-us {
    margin-bottom: 164px;
  }
}
.contact-us__form {
  display: contents;
}
.contact-us__name, .contact-us__email, .contact-us__message, .contact-us__button {
  grid-column: 1/-1;
  margin-bottom: 16px;
  height: 48px;
  border-radius: 40px;
  max-width: 100%;
  border: none;
}
.contact-us__message {
  padding-bottom: 148px;
  border-radius: 16px;
  margin-bottom: 32px;
  resize: none;
}
.contact-us__button {
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.contact-us__button:hover {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
}
.contact-us__button:active {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.6392156863);
}
@media (min-width: 576px) {
  .contact-us__name, .contact-us__email, .contact-us__message, .contact-us__button {
    grid-column: 1/4;
  }
  .contact-us__informations {
    grid-column: 4/7;
    grid-row: 1/4;
    align-self: start;
  }
}
@media (min-width: 1024px) {
  .contact-us__name, .contact-us__email, .contact-us__message, .contact-us__button {
    grid-column: 1/6;
  }
  .contact-us__informations {
    grid-column: 8/13;
    grid-row: 1/4;
    align-self: start;
  }
  .contact-us__informations__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
  .contact-us__informations__contact {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
  }
  .contact-us__informations__contact:hover {
    color: #00ced1;
  }
}

input,
textarea {
  border: none;
  outline: none;
  padding-left: 16px;
  font-size: 14px;
}

.details__wrapper {
  display: grid;
  row-gap: 20px;
}
@media (min-width: 576px) {
  .details__wrapper {
    row-gap: 24px;
  }
}

.detail__photos {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 24px;
  margin-top: 48px;
  color: #f8f8fa;
}
@media (min-width: 576px) {
  .detail__photos {
    --columns: 6;
  }
}
@media (min-width: 1024px) {
  .detail__photos {
    --columns: 12;
  }
}
.detail__photos {
  margin-bottom: 16px;
}
.detail__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.detail__photo:hover {
  transform: scale(1.1);
}
@media (min-width: 576px) {
  .detail--wide {
    grid-column: span 4;
  }
}
@media (min-width: 1024px) {
  .detail--wide {
    grid-column: span 8;
  }
}
@media (min-width: 576px) {
  .detail--square {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .detail--square {
    grid-column: span 4;
  }
}

.button {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 80px;
  height: 56px;
  border-radius: 40px;
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
@media (min-width: 576px) {
  .button {
    width: 392px;
  }
}
@media (min-width: 1024px) {
  .button {
    width: 324px;
  }
}

.button:hover {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
}

.button:active {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.6392156863);
}

.footer {
  position: relative;
  margin: 0;
  bottom: 0;
}
.footer__image {
  left: -111px;
  height: 200px;
  width: 100%;
}
@media (min-width: 576px) {
  .footer__image {
    height: 480px;
    left: -278px;
  }
}
@media (min-width: 1024px) {
  .footer__image {
    height: 100%;
    left: 0;
  }
}

body {
  background-color: #1d1d1d;
}
