// Breakpoints
@mixin on-tablet {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin consistent-padding-inline {
  @include on-desktop {
    max-width: 1020px;
    margin-inline: auto;
  }
}

.container {
  @include consistent-padding-inline;
}

@mixin hover($property, $to-value) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $to-value;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;

  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 24px;
  margin-top: 48px;
  color: #f8f8fa;

  @include on-tablet {
    --columns: 6;
  }

  @include on-desktop {
    // --columns: 12;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }
}
